
.DS_Store

BlueprintExtraCredit/Saved/Backup/
BlueprintExtraCredit/Saved/AutoScreenshot.png
BlueprintExtraCredit/Saved/Autosaves/PackageRestoreData.json
BlueprintExtraCredit/Intermediate/CachedAssetRegistry.bin
BlueprintExtraCredit/Saved/AutoScreenshot.png
BlueprintExtraCredit/Saved/AutoScreenshot.png
BlueprintExtraCredit/Intermediate/CachedAssetRegistry.bin
